<mat-toolbar>
    <span>Costeo por ordenes</span>
    <div>
        <button mat-stroked-button (click)="goTo('createOrder')">
      Crear orden
    </button>
        <button mat-stroked-button (click)="goTo('order')">
      Ver ordenes creadas
    </button>
        <button mat-stroked-button (click)="goTo('cifaplicados')">
      Ver CIF aplicados
    </button>
        <button mat-stroked-button (click)="goTo('tasacif')">
      Crear Tasa CIF
    </button>

        <button mat-stroked-button (click)="goTo('listaTasasCif')">
      lista Tasas Cif
    </button>

    <button mat-stroked-button (click)="goTo('cifReal')">
      Agregar Cif Real
    </button>
    
    <button mat-stroked-button (click)="goTo('cifRealLista')">
      Ver Cif Reales
    </button>

        <button mat-stroked-button (click)="goTo('user')">
      Perfil
    </button>
        <button mat-stroked-button (click)="goTo('exportToExcel')">
      Exportar a excel
    </button>
        <button id="last" mat-stroked-button>Cerrar sesion</button>
    </div>
</mat-toolbar>