<div>
    <div class="text-center">
        <img mat-card-image src="/assets/img/noimage.png" alt="Foto de perfil" style="margin: 2rem;">
        <div>
            <mat-form-field class="example-full-width" style="margin: 2rem;">
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Ex. Cristian" value="Santiago">
            </mat-form-field>
            <mat-form-field class="example-full-width m-3">
                <mat-label>Apellido</mat-label>
                <input matInput placeholder="Ex. Giraldo" value="Alvarez">
            </mat-form-field>
        </div>
        <div>
            <button mat-stroked-button class="m-3">Cambiar contraseña</button>
            <mat-form-field class="example-full-width m-3">
                <mat-label>Correo</mat-label>
                <input matInput placeholder="Ex. example@email.com" value="cadiaz@gmail.com">
            </mat-form-field>
        </div>
        <div>
            <button mat-stroked-button color="warn" class="m-3">Cancelar</button>
            <button mat-stroked-button color="primary" class="m-3">Editar</button>
        </div>
    </div>
</div>