<div id="main-container">
  <table mat-table [dataSource]="orders" class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="manoDeObra">
      <th mat-header-cell *matHeaderCellDef>Mano de obra directa</th>
      <td mat-cell *matCellDef="let element">
        <div>
          {{ element.manoDeObra | currency }}
        </div>
        <div>
          <button
            (click)="add('mano de obra', element, 'manoDeObra')"
            mat-raised-button
            color="primary"
          >
            Agregar
            <!-- <mat-icon matSuffix>attach_money</mat-icon> -->
          </button>
          <button
            (click)="substract('mano de obra', element, 'manoDeObra')"
            mat-raised-button
            color="primary"
          >
            Eliminar
            <!-- <mat-icon matSuffix>attach_money</mat-icon> -->
          </button>
        </div>
      </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="materialDirecto">
      <th mat-header-cell *matHeaderCellDef>Material Directo</th>
      <td mat-cell *matCellDef="let element">
        <div>
          {{ element.materialDirecto | currency }}
        </div>
        <div>
          <button
            (click)="add('material directo', element, 'materialDirecto')"
            mat-raised-button
            color="primary"
          >
            Agregar
            <!-- <mat-icon matSuffix>attach_money</mat-icon> -->
          </button>
          <button
            (click)="substract('material directo', element, 'materialDirecto')"
            mat-raised-button
            color="primary"
          >
            Eliminar
            <!-- <mat-icon matSuffix>attach_money</mat-icon> -->
          </button>
        </div>
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="cif">
      <th mat-header-cell *matHeaderCellDef>
        Costos indirectos de fabricacion
      </th>
      <td mat-cell *matCellDef="let element">
        <div id="text">
          {{ element.cif | currency }}
        </div>
        <div>
          <button
            (click)="add('costos indirectos de fabricacion', element, 'cif')"
            mat-raised-button
            color="primary"
          >
            Agregar
            <!-- <mat-icon matSuffix>attach_money</mat-icon> -->
          </button>
          <button
            (click)="
              substract('costos indirectos de fabricacion', element, 'cif')
            "
            mat-raised-button
            color="primary"
          >
            Eliminar
            <!-- <mat-icon matSuffix>attach_money</mat-icon> -->
          </button>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Fecha</th>
      <td mat-cell *matCellDef="let element">{{ element.date | date }}</td>
    </ng-container>
    <ng-container matColumnDef="baseAsignacion">
      <th mat-header-cell *matHeaderCellDef>Base Asignacion Presupuestada</th>
      <td mat-cell *matCellDef="let element">
        <div>
          {{ element.baseAsignacion | currency }}
        </div>
        <div>
          <button
            (click)="edit('base asignacion', element, 'baseAsignacion')"
            mat-raised-button
            color="primary"
          >
            Editar
            <!-- <mat-icon matSuffix>attach_money</mat-icon> -->
          </button>
          
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="tasa">
      <th mat-header-cell *matHeaderCellDef>Tasa</th>
      <td mat-cell *matCellDef="let element">{{ element.tasa }}</td>
    </ng-container>

    <ng-container matColumnDef="totalCostoOrder">
      <th mat-header-cell *matHeaderCellDef>Total costo de la orden</th>
      <td mat-cell *matCellDef="let element">
        {{ element.totalCostoOrder }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
